# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.pid
*.seed
*.gz

# Dependências e pacotes
node_modules/
vendor/

# Arquivos de compilação
dist/
build/
out/
*.class
*.o
*.so
*.pyc
*.pyo
*.pyd

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Ambientes virtuais
.venv/
env/
venv/

# Configurações específicas do sistema
*.env
*.local
*.config
*.settings

# Arquivos de teste
coverage/
*.lcov

# Arquivos de exportação
*.zip
*.tar.gz
*.rar
*.7z

# Banco de dados
*.sqlite3
*.db

# Outros
*.bak
*.tmp
